<!DOCTYPE html>
<html>
<head>
  <title>Carebnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render partial: "layouts/navbar" %>
<div class="container">
  <%= yield %>
</div>
<div class="pusher"></div>
<div id="footer">
  <ul>
    <li>About Us</li>
    <li>Privacy</li>
    <li>Terms</li>
    <li>Contact Us</li>
    <li>Signup for newsletter</li>
  </ul>
</div>

</body>
</html>
